@CHARSET "UTF-8";
/* html,body{
	height:100%;
	
} */
body{
	margin:0;
}

#box{
	background-color:#E8E8E8 ;
	height:400px;
	margin-top:150px;
	border-top: 1px solid red ;
	border-bottom: 1px solid purple; 
}